@import './variables.scss';

.landing-container {
	height: 100vh;
	width: 100vw;

	.language-select {
		border: 1px solid lightgray;
	}

	.landing-nav-top {
		height: 80px;
		width: 100vw;
		padding: 25px 35px 25px 35px;
		font-size: 14px;
	}
	.landing-home-title {
		margin-top: 300px;
		font-size: 30px;
		position: relative;
		z-index: 1;
		display: inline-block;
		margin: auto auto;
		border: 1px solid lightgray;
	}
	.top-left {
		text-align: left;
	}
	.top-right {
		text-align: right;
		float: right;
		.top-right-item {
			margin-left: 20px;
		}
	}

	.signup-form {
		margin: auto auto;
		.signup-window {
			width: 350px;
			top: 20vh;
		}
	}
	.landing-background-svg {
		opacity: 0.25;
		position: absolute;
		top: 80px;
		width: 100%;
		height: 100%;
		max-height: calc(100% - 80px);
		text-align: center;
		svg {
			height: 100%;
		}
	}
}
