.loader {
	display: inline-block;
	border: 10px solid #dbd7d4; /* Light grey */
	border-top: 10px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 0.75s linear infinite;
	margin-top: 20px;
	margin-bottom: 15px;
}
.loader-text,
.loader-timeout {
	display: inline-block;
	width: 120px;
	margin-bottom: 20px;
	font-size: 14px;
}
.loader-timeout {
	margin-top: 20px;
}
