$blue: rgb(46, 113, 254);
$blue-darker: rgb(41, 101, 227);
$red: #ca4250;
$red-darker: #b83d49;
$text-color: rgb(51, 61, 96);
$lightgray: rgb(226, 226, 226);
$gray: #adadad;
$btn-white-hover-color: rgb(244, 248, 255);
