$blue: rgb(46, 113, 254);
$blue-darker: rgb(41, 101, 227);
$green: rgb(6, 102, 6);
$green-darker: rgb(5, 85, 5);
$link-blue: #007bff;
$link-blue-darker: #0062ca;
$red: #ca4250;
$red-darker: #b83d49;
$text-color: rgb(51, 61, 96);
$lightgray: rgb(226, 226, 226);
$gray: #adadad;
$gray-darker: #6e6e6e;
$btn-white-hover-color: rgb(244, 248, 255);
